/* Custom properties
==================== */

:root {}

/* Reset
======== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styling
================== */

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0f0f;
  text-align: center;
  color: #fff;
}

.hero__title {
  text-transform: uppercase;
}

.hero__subtitle {
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social li {
  list-style: none;
}

.social a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.social span {
  text-transform: uppercase;
}